body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('foto/backfoto.jpg')  no-repeat center center fixed; 
    background-size: cover; 
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
  }
  
  .sign-in-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #2c2c2c;
    color: #fff;
    font-size: 14px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f0b428;
    color: #1d1d1d;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }

  